<section id="sobre" class="container">
  <div class="d-flex flex-column fs-5 my-auto">
    <h2 class="display-5 fw-bold text-center">Sobre Mim</h2>
    <p class="mt-5">
      Olá! Meu nome é <strong>Victor Rafael da Silva</strong>, sou estudante de sistemas da
      informação na <strong>Uniplac</strong>. Estou no mundo da programação desde pouco antes de ter
      ingressado na faculdade, gosto de desenvolver projetos desktop.
    </p>

    <p>
      Eu estudo principalmente a <strong>Plataforma .NET</strong> — e atualmente estou aprendendo ASP.NET MVC e desenvolvimento web front-end
      Angular e TypeScript.
    </p>

    <p>Tenho experiência princiapl com banco de dados Postgres, mas também já utilizei SQL Server e MySQL.
      Já utilizei docker em diversos projetos, principalmente para banco de dados e testes.</p>
  </div>
</section>
