<section id="sobre" class="container">
  <div class="d-flex flex-column fs-5 my-auto">
    <h2 class="display-5 fw-bold text-center">Sobre Mim</h2>
    <p class="mt-5">
      Olá! Meu nome é <strong>Victor Rafael da Silva</strong>, sou estudante de sistemas da
      informação na <strong>Uniplac</strong>. Estou no mundo da programação pouco antes de ter
      ingressado na faculdade, gosto de desenvolver projetos desktop.
    </p>

    <p>
      Eu estudo principalmente a <strong>Plataforma .NET</strong> — já utilizei Entity Framework,
      ADO.NET e atualmente estou aprendendo ASP.NET MVC e desenvolvimento web front-end.
    </p>

    <p>Tenho experiência com banco de dados SQL Server e MySQL. Já utilizei docker na faculdade.</p>
  </div>
</section>
